* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  padding-top: 60px;
  font-family: sans-serif;
}

.all-the-things {
  height: 100vh;
  width: 100vw;
  background-color: #032436;
}

.center-everything {
  height: 40%;
  width: 500px;
  background-color: white;
  text-align: center;
  left:25%;
  width:50%;
  height:50%;
  top:25%;
  position:absolute;
  background-color: #477187;
  box-shadow: 6px 6px 10px 12px #477187;
}

.quote-display,
.author-display {
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
}

button {
  background-color: #113b51;
  color: #aaa;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
button:hover {
  background-color: #032436;
  transition: 0.2s;
  cursor: pointer;
}
button:focus {outline:0;}
